## Test method calls
String methods:
- toUpperCase: $name.toUpperCase()
- toLowerCase: $name.toLowerCase()
- substring: $name.substring(0, 3)
- length: $name.length

Array methods:
- size: $items.size()
- get: $items.get(1)

Chaining:
- $name.toUpperCase().substring(0, 2)